.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: stretch;

  padding: 70px;

}

li {
  width: 30%;
  height: 220px;
}
ul {
  list-style-type: none;

}
